/* Select */
.select {
  background: #fff;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  box-shadow: 0 1px 4px 0 rgb(30 41 59 / 6%);
  color: #111827;
  display: block;
  font-size: 0.875rem;
  outline: none;
  padding: 0.5rem 0.75rem;
  transition:
    border 0.2s,
    box-shadow 0.2s,
    background 0.2s;
  width: 100%;
}

.select-sm {
  font-size: 0.75rem;
  padding: 0.375rem 0.5rem;
}

.select-md {
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
}

.select-lg {
  font-size: 1rem;
  padding: 0.625rem 1rem;
}

.select:focus {
  background: #f8fafc;
  border-color: #2563eb;
  box-shadow:
    0 0 0 3px rgb(37 99 235 / 18%),
    0 2px 8px 0 rgb(30 41 59 / 10%);
}

.select:hover:not(:focus, :disabled) {
  border-color: #94a3b8;
  box-shadow: 0 2px 8px 0 rgb(30 41 59 / 10%);
}
