/* Input group container */
.input-group {
  align-items: stretch;
  display: flex;
  width: 100%;
}

.input-group > * {
  box-sizing: border-box;
  font-size: 1rem;
  height: 2.5rem;
  padding-bottom: 0;
  padding-top: 0;
}

.input-group-sm > * {
  font-size: 0.875rem;
  height: 2rem;
}

.input-group-lg > * {
  font-size: 1.125rem;
  height: 3rem;
}

.input-group-addon {
  align-items: center;
  background: #f8fafc;
  border: 1px solid #d1d5db;
  color: #222;
  display: flex;
  padding: 0 1rem;
  white-space: nowrap;
}

.input-group-addon.input-group-addon-prefix {
  border-radius: 8px 0 0 8px;
  border-right: none;
}

.input-group-addon.input-group-addon-suffix {
  border-left: none;
  border-radius: 0 8px 8px 0;
}

.input-group > .form-control {
  border-radius: 0;
  flex: 1 1 0%;
  margin: 0;
  min-width: 0;
}

.input-group > .form-control:first-child {
  border-radius: 8px 0 0 8px;
}

.input-group > .form-control:last-child {
  border-radius: 0 8px 8px 0;
}

.input-group > .form-control:focus {
  z-index: 1;
}
